body, html {
  height: 100%;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.dd-layout {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .dd-layout-warp {
    max-width: 1460px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 50px;
  }
  .dd-layout-top {
    width: 100%;
    position: relative;
    z-index: 3;
    .ml-git-link {
      float: right;
      top: 15px;
      margin-top: 15px;
      margin-right: 28px;
    }
    .logo-word {
      font-size: 18px;
      color: #1085ff;
      float: left;
      margin-top: 26px;
    }
    .ml-logo {
      width: 160px;
      height: 50px;
      float: left;
      background: url("./../images/ml-ui.png") no-repeat
    }
  }
  .ml-body {
    padding: 0 20px;
    height: 100%;
    position: relative;
    z-index: 0;
  }
  .ml-sidebar {
    width: 220px;
    position: absolute;
    height: 100%;
    padding-top: 75px;
    overflow: hidden;
    top: 0;
    .ml-QRCode {
      width: 70px;
      position: absolute;
      right: 0;
      top: 90px;
      z-index: 2;
      .ml-QRCode-img {
        width: 70px;
        height: 70px;
        background: url("./../images/mobile-src.png") no-repeat;
        background-size: 100% 100%;
      }
      .ml-QRCode-word {
        padding-top: 5px;
        text-align: center;
        font-size: 12px;
      }
    }
    .side-nav {
      border-top: 1px solid #eee;
      width: 220px;
      padding-right: 20px;
      padding-top: 10px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      .nav-group-title {
        font-size: 12px;
        color: #909090;
        line-height: 26px;
        margin-top: 10px;
      }
      .nav-item a {
        font-size: 16px;
        color: #333;
        line-height: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
        text-decoration: none;
        display: block;
        position: relative;
        transition: .15s ease-out;
        font-weight: 700;
      }
      .pure-menu-list .nav-item a {
        color: #404040;
        font-weight: 400;
        font-size: 14px;
      }
      .nav-item a.active, .pure-menu-list .nav-item a.active {
        color: #409eff;
      }
    }
    .side-nav > li:last-child {
      padding-bottom: 20px;
    }
  }
  .ml-content {
    padding-left: 240px;
    padding-right: 400px;
    height: 100%;
    width: 100%;
  }
  .ml-content-warp {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px 24px;
  }
  .ml-phone {
    width: 356px;
    height: 702px;
    position: absolute;
    right: 40px;
    top: 50%;
    padding: 66px 18px 96px;
    margin-top: -351px;
    background: url('./../images/phone.png') no-repeat;
    background-size: 100% 100%;
    .phone-top {
      height: 20px;
      padding: 5px 0;
      background: #fff url('./../images/phone-top.png') center no-repeat;
    }
    .phone-content {
      background-color: #fff;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}