.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.ml-layout {
  position: relative;
  width: 100%;
  height: 100%;
  .ml-layout-warp {
    max-width: 1600PX;
    min-width: 1200PX;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 50PX;
  }
  .ml-layout-top {
    width: 100%;
    height: 70PX;
    padding-top: 10PX;
    position: relative;
    z-index: 3;
    .ml-git-link {
      float: right;
      top: 30PX;
      margin-top: 15PX;
    }
    .logo-word {
      font-size: 18PX;
      color: #1085ff;
      float: left;
      margin-top: 26PX;
    }
    .ml-logo {
      width: 160PX;
      height: 50PX;
      float: left;
      background: url("./../images/ml-ui.png") no-repeat
    }
  }
  .ml-body {
    padding: 0 20PX;
    height: 100%;
    position: relative;
    margin-top: -70PX;
    z-index: 0;
  }
  .ml-sidebar {
    width: 220PX;
    position: absolute;
    height: 100%;
    padding-top: 70PX;
    overflow: hidden;
    top: 0;
    .side-nav {
      border-top: 1PX solid #eee;
      width: 220PX;
      padding-right: 20PX;
      padding-top: 10PX;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      .nav-group-title {
        font-size: 12PX;
        color: #999;
        line-height: 26PX;
        margin-top: 15PX;
      }
      .nav-item a {
        font-size: 16PX;
        color: #333;
        line-height: 40PX;
        height: 40PX;
        margin: 0;
        padding: 0;
        text-decoration: none;
        display: block;
        position: relative;
        transition: .15s ease-out;
        font-weight: 700;
      }
      .pure-menu-list .nav-item a {
        color: #444;
        font-weight: 400;
        font-size: 14PX;
      }
      .nav-item a.active, .pure-menu-list .nav-item a.active {
        color: #409eff;
      }
    }
    .side-nav > li:last-child {
      padding-bottom: 20PX;
    }
  }
  .ml-content {
    padding-left: 250PX;
    padding-right: 400PX;
    height: 100%;
    width: 100%;
  }
  .ml-content-warp {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 24PX;
  }
  .ml-phone {
    width: 356PX;
    height: 702PX;
    position: absolute;
    right: 40PX;
    top: 50%;
    padding: 66PX 18PX 96PX;
    margin-top: -351PX;
    background: url('./../images/phone.png') no-repeat;
    background-size: 100% 100%;
    .phone-top {
      height: 20PX;
      padding: 5PX 0;
      background: #fff url('./../images/phone-top.png') center no-repeat;
    }
    .phone-content {
      background-color: #fff;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}