.ml-auto-load {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  .ml-auto-wrapper {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .ml-auto-content {
    min-height: 100%;
  }
  .ml-auto-bottom {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $color-prompt1;
    font-size: 14px;
    span {
      margin-left: 4px;
    }
  }
  .auto-load-warp {
    width: 16px;
    height: 16px;
    position: relative;
  }
}