@import './../var.styl'
.ml-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border-color: $color-border;
  color: #1f2d3d;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  -webkit-user-select: none;
  -webkit-appearance: none;
  padding: 10px 15px;
  font-size: $size;
  border-radius: 4px;
}

.ml-button-primary {
  color: #fff;
  background-color: $color-primary;
  border-color: $color-primary;
}

.ml-button-text {
  border: none;
  color: $color-primary;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}