.ml-button {
  -webkit-appearance: none;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: $color-prompt1;
  font-size: $font-size;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  padding: 0 8px;
  text-align: center;
  background-color: #fff;
  height: 36px;
  outline: 0;
  position: relative;
}

.ml-button::after {
  background-color: #000;
  content: " ";
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.ml-button:not(.ml-button-disabled):active::after {
  opacity: .2
}

.ml-button.ml-button-default {
  border-color: $color-border;
}

.ml-button-big {
  display: block;
  width: 100%;
  font-size: $font-max-size;
  padding: 0 12px;
  height: 40px;
}

.ml-button-small {
  display: inline-block;
  font-size: $font-min-size;
  padding: 0 6px;
  height: 32px;
}

.ml-button-primary {
  color: #fff;
  background-color: $color-primary;
  border: 0;
}

.ml-button-danger {
  color: #fff;
  background-color: $color-danger;
  border: 0;
}

.ml-button-submit {
  color: #fff;
  background-color: $color-success;
  border: 0;
}

.ml-button-disabled {
  opacity: .6
}

