.ml-date-pater {
  font-size: 16px;
  .ml-dp-btn {
    padding: 12px 24px;
    border-bottom-color: $color-border;
  }
  .ml-dp-warp {
    height: 238px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    .ml-dp-bg {
      height: 34px;
      border-top-color: $color-border;
      border-bottom-color: $color-border;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -17px;
      z-index: -1;
    }
  }
  .ml-dp-confirm {
    float: right
  }
  .ml-pater-item {
    height: 100%;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
    ul {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    li {
      height: 34px;
      line-height: 34px;
      font-size: 14px;
      color: $color-prompt1;
    }
  }
}