.ml-header {
  display: flex;
  background-color: $color-primary;
  height: 42px;
  align-items: center;
  line-height: 1;
  font-size: 14px;
  color: #fff;
  .ml-header-title {
    flex: 1;
    text-align: center;
    padding: 0 12px;
  }
  .ml-header-left, .ml-header-right {
    padding: 0 12px;
    width: 25%;
  }
  .ml-header-right {
    justify-content: flex-end;
    display: flex;
  }
}

.fix-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 123;
}