.ml-i-view {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: $scale-fade-transition;
}

.ii-scale {
  transition: $all-transition;
  opacity: 1;
}

.ii-view-enter, .ii-view-leave-active {
  opacity: 0;
  transform: scale(1);
}

.ml-i-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 1px;
  transform: translate3d(0, 0, 0);
  img {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 999;
  }
}