.ml-i-view {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.86);
  transition: $scale-fade-transition;
  padding: 1px;
}

.ii-scale {
  transition: $all-transition;
  opacity: 1;
}

.ii-view-enter, .ii-view-leave-active {
  opacity: 0;
}

.ii-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
  font-size: 18px;
}

.ml-i-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 999;
    background-color: #fff;
  }
}