.ml-message.ml-msg-error {
  background-color: #ffecec;
  border-color: $color-error;
  .ml-message-text {
    color: $color-error;
  }
  i {
    color: $color-error;
  }
}

.ml-message.ml-msg-success {
  background-color: #f0f9eb;
  border-color: $color-success;
  .ml-message-text {
    color: $color-success;
  }
  i {
    color: $color-success;
  }
}

.ml-message.ml-msg-warning {
  background-color: #fdf6ec;
  border-color: $color-warning;
  .ml-message-text {
    color: $color-warning;
  }
  i {
    color: $color-warning;
  }
}

.ml-message.ml-msg-info {
  background-color: #ebeef5;
  border-color: $color-info;
  .ml-message-text {
    color: $color-info;
  }
  i {
    color: $color-info;
  }
}

.ml-message.place-bottom {
  bottom: 50px;
  left: 50%;
  transform: translate3d(-50%, 0, 0)
}

.ml-message.place-middle {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0)
}

.ml-message.place-top {
  top: 50px;
  left: 50%;
  transform: translate3d(-50%, 0, 0)
}

.ml-message {
  position: fixed;
  max-width: 80%;
  border-radius: $border-radius;
  line-height: 18px;
  padding: 8px 12px 0;
  text-align: center;
  transition: $fade-transition;
  box-shadow: 0 0 2px #ccc;
  .ml-message-text {
    font-size: $font-size;
    word-break: break-all;
    word-break: break-word;
    padding-bottom: 8px;
  }
  i {
    margin-right: 5px;
    margin-bottom: 8px;
  }
}
