@import './../var.styl'

.ml-model {
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: $border-radius;
  font-size: 14px;
  padding: 15px;
}