@import './../var.styl'

.ml-popup-title {
  font-size: $font-18-size;
  padding-top: 15px;
}

.ml-popup-content {
  padding: 25px 15px;
  font-size: $font-size;
  color: $color-info;
  word-break: break-all;
  word-break: break-word;
}

.ml-popup-button {
  height: 40px;
  border-top-color: $color-border;
  line-height: 40px;
  button {
    width: 100%;
    height: 100%;
    font-size: $font-size;
    color: $color-prompt1;
    background-color: #fff;
  }
  .ml-popup-confirm {
    color: $color-primary;
  }
}

.two-btn {
  button {
    width: 50%;
  }
  .ml-popup-confirm {
    border-left-color: $color-border;
  }
}

.ml-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 76%;
  transform: translate(-50%, -50%);
  border-radius: $border-radius;
  background-color: #fff;
  overflow: hidden;
  transition: $scale-fade-transition;
  text-align: center;
}

.ml-scale-enter {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
}


