.ml-pull-layout {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ml-pull {
  height: 100%;
  font-size: 14px;
  .ml-pull-wrapper {
    overflow: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
  .ml-pull-down, .ml-pull-up {
    height: 50px;
    text-align: center;
    line-height: 50px;
    span {
      margin-left: 6px;
    }
    .ml-pd-icon {
      transition: $all-transition;
    }
    .ml-pd-load {
      width: 16px;
      height: 16px;
      position: relative;
    }
  }
  .ml-pull-up {
    margin-bottom: -50px;
    .ml-pd-icon {
      transform: rotate(180deg)
    }
  }
  .ml-pull-up.satisfy-up {
    .ml-pd-icon {
      transform: rotate(0deg)
    }
  }
  .ml-pull-down.satisfy-down {
    .ml-pd-icon {
      transform: rotate(180deg)
    }
  }
  .ml-pull-down {
    margin-top: -50px;
  }
}