.ml-radio-item {
  font-size: $font-size;
  padding-bottom: 5px;
  padding-top: 5px;
  .ml-radio-scale-enter {
    opacity: 0;
    transform: scale(0.4);
  }
  .ml-radio-scale-leave-active {
    opacity: 0;
    transform: scale(0.4);
  }
  .ml-radio-label {
    padding-right: 5px;
    cursor: pointer;
    margin-left: 28px;
    user-select: none;
    min-height: 22px;
    line-height: 22px;
    word-break: break-all;
    word-break: break-word;
  }
  .ml-radio-icon {
    width: 22px;
    height: 22px;
    float: left;
    position: relative;
    cursor: pointer;
    i {
      font-size: 22px;
      color: $color-aaa;
      line-height: 22px;
    }
  }
  .ml-radio-on {
    transition: $scale-fade-transition;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    i {
      color: $color-primary;
    }
  }
  .ml-radio-on.is-disabled {
    i {
      color: $color-aaa;
      opacity: .4;
    }
  }
  .ml-radio-no {
    border-color: $color-border;
    width: 100%;
    height: 100%;
    border-radius: 50%
  }
  .ml-radio-no.is-disabled {
    background-color: $color-aaa
    opacity: .4;
  }
}