.ml-range {
  height: 30px;
  line-height: 30px;
  display: flex;
}

.ml-range-warp {
  flex: 1;
  position: relative;
  margin-right: 30px;
}

.ml-rang-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: -30px;
  background-color: #a9acb1;
  height: 2px;
}

.ml-rang-circle {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: move;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.ml-rang-line {
  position: absolute;
  display: block;
  background-color: #26a2ff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
}