@import './../var.styl'
.ml-switch {
  position: relative;
  min-width: 50px;
  height: 30px;
  background-color: $color-aaa;
  border-radius: 17px;
  padding: 5px 8px;
  box-sizing: border-box;
  transition: $all-transition;
  font-size: $font-size;
  .ml-switch-circle {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 2px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    border-radius: 50%;
    background-color: #fff;
    transition: $all-transition;
  }
  .ml-switch-left {
    display: none;
    padding-right: 24px;
    line-height: 20px;
    color: #fff;
  }
  .ml-switch-right {
    display: block;
    line-height: 20px;
    padding-left: 24px;
    color: #333;
  }
}

.switch-disabled {
  opacity: .6;
}

.ml-switch-check {
  background-color: $color-primary
  .ml-switch-circle {
    left: calc(100% - 28px);
  }
  .ml-switch-left {
    display: block;
    color: #fff;
  }
  .ml-switch-right {
    display: none;
  }
}