@import './../var.styl'
.ml-tab {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .ml-tab-nav {
    height: 50px;
    display: flex;
    border-bottom-color: $color-border;
  }
  .ml-tab-wrap {
    flex: 1;
    > div {
      position: relative;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

