/* ml-ui Variables*/

/* Transition
-------------------------- */
$all-transition = all .3s cubic-bezier(.645, .045, .355, 1);
$scale-fade-transition = all .2s ease-out;
$fade-transition = opacity .3s cubic-bezier(0.23, 1, 0.32, 1);

.ml-opacity-leave-active {
  opacity: 0
}

/* Colors
-------------------------- */
$color-prompt1 = #666;
$color-prompt2 = #999;
$color-link = #66b1ff;
$color-success = #4ebb18;
$color-warning = #eb9e05;
$color-error = #f56c6c;
$color-danger = #fa5555;
$color-info = #878d99;
$color-primary = #409EFF;
$color-border = #bfcbd9;

/* Font
-------------------------- */
$font-size = 32px;
$font-max-size = 36px;
$font-min-size = 28px;
$border-radius = 10px;

/* Block
-------------------------- */
.inline-block {
  display: inline-block;
  vertical-align: middle;
}

/* border
-------------------------- */
.ml-border {
  border: 1px solid transparent;
  box-sizing: border-box;
  box-shadow: 0 0 2px transform;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .ml-border {
    border: 0.5px solid transparent;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .ml-border {
    border: 0.333333px solid transparent;
  }
}