.ml-border, .ml-toast {
  box-sizing: border-box
}

.ml-opacity-leave-active {
  opacity: 0
}

.inline-block {
  display: inline-block;
  vertical-align: middle
}

.ml-border {
  border: 1px solid transparent;
  box-shadow: 0 0 2px transparent;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .ml-border {
    border: .5px solid transparent
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .ml-border {
    border: .333333px solid transparent
  }
}

.ml-toast {
  position: fixed;
  max-width: 80%;
  border-radius: 10px;
  background: rgba(0, 0, 0, .7);
  color: #fff;
  padding: 20px;
  text-align: center;
  transition: opacity .3s cubic-bezier(.23, 1, .32, 1)
}

.ml-toast.place-bottom {
  bottom: 100px;
  left: 50%;
  transform: translate3d(-50%, 0, 0)
}

.ml-toast.place-middle {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0)
}

.ml-toast.place-top {
  top: 100px;
  left: 50%;
  transform: translate3d(-50%, 0, 0)
}

.ml-toast-text {
  font-size: 28px
}