body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, div {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font-family: 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei';
  color: #333;
}

body, html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

address, cite, dfn, em, var {
  font-style: normal;
}

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}

body, small {
  font-size: 12PX;
  line-height: 1.1;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #20a0ff;
}

a:hover {
  text-decoration: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset, img {
  border: 0;
}

button, input, select, textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  box-sizing: border-box;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.pagination-warp {
  padding: 20px 0;
  text-align: right;
}

.padding-tb-20 {
  padding: 20px 0;
}

.button-bar {
  margin-bottom: 10px;
}

.button-bar .input-search {
  width: 220px;
  margin-left: 10px;
  vertical-align: bottom;
}

.pointer {
  cursor: pointer;
}

.ml-layout .base-width {
  width: 220px;
}

.ml-layout .middle-width {
  width: 440px;
}

.ml-layout .el-form-item__label {
  position: relative;
}

.ml-layout .el-form-item.is-required .el-form-item__label:before {
  left: -10px;
  position: absolute;
}

.ml-area-title-bg {
  border-bottom: 5px solid #f8fafb;
}

.ml-last-area {
  border-bottom: 0;
}

.base-button-warp {
  height: 60px;
  padding: 7px;
  text-align: center;
}

.base-button-warp .el-button {
  width: 170px;
  margin: 0 15px;
}

.last-ml-line {
  margin-bottom: 15px;
}

.common-pop-wrap .pop-content.center {
  text-align: center;
}

.common-pop-wrap .pop-content {
  width: 220px;
  margin: 10px auto 15px;
  line-height: 25px;
}

.common-pop-wrap .pop-bottom {
  text-align: center;
  margin-bottom: 15px;
}

.common-pop-wrap .pop-bottom button {
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
}

.mgl10 {
  margin-left: 10px;
}

.mgr5 {
  margin-right: 5px;
}

.pdt20 {
  padding-top: 20px;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}